bin/bin/bcwc_pcie
bin/bin/facetimehd-firmware
nvim/.config/nvim/plugin/packer_compiled.lua

config/.config/nvim/plugin/packer_compiled.lua
config/.config/gh-dash/config.yml
config/.config/qtile/__pycache__
config/.config/lazygit/state.yml
__pycache__
config/.config/broot/launcher